@font-face {
  font-family: 'Cairo-Regular';
  src: local('Cairo-Regular'), url(./assets/fonts/Cairo-Regular.ttf);
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
body {
  margin: 0;
  font-family: 'Cairo-Regular', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Cairo-Regular';
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
